.DS_Store
.AppleDouble
.LSOverride

.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env/
.venv/

.ipynb_checkpoints/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

.vscode/
.idea/